@import './theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
}

.tiptap,
.tiptap *,
[contenteditable="true"],
[contenteditable="true"] *,
.text-selectable {
  user-select: text !important;
  -webkit-user-select: text !important;
}

::selection {
  background-color: var(--selection-bg);
  color: var(--text-main);
}

